<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div id="container">
        <form action="/loginpage" method="POST" >
            <h1>Login</h1>
            <div id="mess">
                <h5>
        {% with messages = get_flashed_messages() %}
             {% if messages %}
                  {% for mess in messages %}
                      {{ mess }}
                  {% endfor %}
             {% endif %}
        {% endwith %}
                </h5>
            </div>
         <div class="con">
            <label>UserName :</label>
            <input type="text" name="_name" autocomplete="off" required="">
            <label>Password :</label>
            <input type="password" name="_pass" autocomplete="off" required="">
            <button type="submit" name="btd" class="click">Login</button>
            <a href="{{url_for('add')}}" class="click">Registration</a>
         </div>
        </form>
    </div>
</body>
</html>