<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div id="container">
        <form action="" method="POST">
            <h1>Sign-up</h1>
        <div class="con">
            <label>Name :</label>
            <input type="text" name="name_" autocomplete="off" required="">
            <label>Email :</label>
            <input type="email" name="email_" autocomplete="off" required="">
            <label>Password :</label>
            <input type="password" name="pass_" autocomplete="off" required="">
            <button type="submit" name="btn" class="click01 click">Register</button>
        </div>
        </form>
</div>
</body>
</html>